{%- if license == "MIT" -%}
{%- include 'template/licenses/MIT.jinja' %}
{%- elif license == "BSD-3" -%}
{%- include 'template/licenses/BSD-3.jinja' %}
{%- elif license == "GNU GPL v3.0" -%}
{%- include 'template/licenses/GPL-3.jinja' %}
{%- elif license == "GNU LGPL v3.0" -%}
{%- include 'template/licenses/LGPL-3.jinja' %}
{%- elif license == "Apache Software License 2.0" -%}
{%- include 'template/licenses/Apache-2.jinja' %}
{%- elif license == "Mozilla Public License 2.0" -%}
{%- include 'template/licenses/MPL-2.jinja' %}
{%- endif -%}
