name: {{plugin_name}}
display_name: {{display_name}}
contributions:
  commands:{% if include_reader_plugin == 'y' %}
    - id: {{plugin_name}}.get_reader
      python_name: {{module_name}}._reader:napari_get_reader
      title: Open data with {{display_name}}{% endif %}{% if include_writer_plugin == 'y' %}
    - id: {{plugin_name}}.write_multiple
      python_name: {{module_name}}._writer:write_multiple
      title: Save multi-layer data with {{display_name}}
    - id: {{plugin_name}}.write_single_image
      python_name: {{module_name}}._writer:write_single_image
      title: Save image data with {{display_name}}{% endif %}{% if include_sample_data_plugin == 'y' %}
    - id: {{plugin_name}}.make_sample_data
      python_name: {{module_name}}._sample_data:make_sample_data
      title: Load sample data from {{display_name}}{% endif %}{% if include_widget_plugin == 'y' %}
    - id: {{plugin_name}}.make_qwidget
      python_name: {{module_name}}._widget:ExampleQWidget
      title: Make example QWidget
    - id: {{plugin_name}}.make_magic_widget
      python_name: {{module_name}}._widget:example_magic_widget
      title: Make example magic widget
    - id: {{plugin_name}}.make_func_widget
      python_name: {{module_name}}._widget:example_function_widget
      title: Make example function widget{% endif %}{% if include_reader_plugin == 'y' %}
  readers:
    - command: {{plugin_name}}.get_reader
      accepts_directories: false
      filename_patterns: ['*.npy']{% endif %}{% if include_writer_plugin == 'y' %}
  writers:
    - command: {{plugin_name}}.write_multiple
      layer_types: ['image*','labels*']
      filename_extensions: []
    - command: {{plugin_name}}.write_single_image
      layer_types: ['image']
      filename_extensions: ['.npy']{% endif %}{% if include_sample_data_plugin == 'y' %}
  sample_data:
    - command: {{plugin_name}}.make_sample_data
      display_name: {{display_name}}
      key: unique_id.1{% endif %}{% if include_widget_plugin == 'y' %}
  widgets:
    - command: {{plugin_name}}.make_qwidget
      display_name: Example QWidget
    - command: {{plugin_name}}.make_magic_widget
      display_name: Example Magic Widget
    - command: {{plugin_name}}.make_func_widget
      autogenerate: true
      display_name: Example Function Widget{% endif %}
